.css-17cqjj4 {
    opacity: 0.4;
    font-size: var(--chakra-fontSizes-sm);
}

ul {
  list-style: none;
}

.webheader {
  margin: 0px auto;
  max-width: 960px;
}

.inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul#main-menu {
    display: flex;
}